.DS_Store
*~
__pycache__
.mypy_cache

.env
log.log
data
training_checkpoints

models/miditok.model
models/miditok.vocab
models/training.txt
models/music_gen.pt

songomatic

robbie-v1.0.0

output/*.mid
output/*.midi
output/loss.png
output/distributions.png
output/piano_roll.png
test.mid
